<div class="Tab-Contents-Field mdl-color--yellow-50">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
        <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--primary">
            <h3>&nbsp;&nbsp;&nbsp;将友&nbsp;SHO-YU&nbsp;&nbsp;とは</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <p>
                将友&lt;SHO-YU&gt;とは、棋力、地域、年齢など自分好みの将棋指しを見つけられる<br />
                将棋のマッチングサイトです。<br /><br />
                
                マッチングしたら、その後はユーザーの皆様の自由です。<br />
                ユーザーの皆様同士でメッセージをやり取りしていただき自由に調整をしてください。<br />
                街の将棋道場やインターネット将棋道場を利用して将棋の対局したり、<br />
                あるいは将棋の雑談をしようなど自由に決めてください。<br /><br />
                
                素敵な将友と出会えますことをお祈りしています。<br /><br />
            </p>
        </div>
    </div>
</div>