<div class="about-card-container mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
        <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
            <h3>将友&nbsp;SHO-YU&nbsp;&nbsp;とは</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <p>
            将友&lt;SHO-YU&gt;とは将棋のコミュニティ＆マッチングサイトです。<br /><br />
            
            地域 棋力 年齢などから自分にあった将棋プレイヤーを見つけられます。
            お相手が見つかったらその後はユーザーの皆様同士の自由です。<br />
            サイト内でメッセージをやりとりできますので、ご活用ください。
            <br /><br />
            素敵な将友と出会えますことをお祈りしています。
            </p>
        </div>
	</div>
</div>