<!-- Main Contents Field Start -->
<div class="Main-Contents-Field mdl-color--yellow-50">

<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
  <h4 class="bold"><br />
  &nbsp;&nbsp;棋力、地域、年齢など<br /><br />
  &nbsp;&nbsp;自分好みの対戦相手を見つけられる<br /><br />
  &nbsp;&nbsp;将棋のマッチングサイト<br /><br /></h4>
  <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
     <h3>&nbsp;&nbsp;&nbsp;将友&nbsp;&nbsp;&nbsp;SHO-YU</h3>
  </div>
</div>

  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col mdl-color--lime-50">
    <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--primary">
      <h3>&nbsp;&nbsp;&nbsp;アカウント登録&nbsp;&frasl;&nbsp;ログイン</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <ul class="button" style="list-style:none">
          <li><a href="#"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--deep-orange-A700">
             メールアドレスで登録&nbsp;&frasl;&nbsp;ログイン
          </button></a></li>
          <li>&nbsp;</li>
          <li><a href="#"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-A700">
             FACEBOOKで登録&nbsp;&frasl;&nbsp;ログイン
          </button></a></li>
      </ul>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text entry-content">
      <p>当サイトを利用するにはアカウント登録が必要となります。</p>
      <p>上記ボタンよりアカウント登録を行ってください。</p>
    </div>
  </div>

</div>

<!-- Main Contents Field Start -->


<div>
  <ul class="underList" style="list-style:none">
    <li>&nbsp;</li>
  </ul>
</div>