<!-- Contents Field Start -->
<div class="Contents-Field">
<!-- Main Contents Field Start -->
<div class="Main-Contents-Field mdl-color--yellow-50">

  <!-- Single Card Field Start -->
  <div class="Single-Card-Field">
        
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col mdl-color--lime-50">
        <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--primary">
            <h3>&nbsp;&nbsp;&nbsp;オンライン将棋サイト</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Site</th>
                  <th>説明</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric"><a href="http://shogiwars.heroz.jp/"><img src="../../assets/images/wars.jpg"></a></td>
                  <td>初級者から高段者まで幅広いユーザーが存在します<br />
                  戦法や囲いが完成するとド派手な演出が観れます<br />
                  今最もホットな将棋アプリではないでしょうか</td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric"><a href="http://www.shogidojo.com/">将棋倶楽部24</a></td>
                  <td>長い間多くのユーザーに支持されているオンライン将棋サーバーです<br />
                  最も有名なオンライン将棋サーバーと言っていいでしょう<br />
                  低級でも序盤定跡に詳しいユーザーが多くやや有段者向きかもしれません</td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric"><a href="http://casual.hangame.co.jp/shougi2/">ハンゲーム</a></td>
                  <td>ユーザー数は上記２つのサイトほどではありませんが<br />
                  駒落ちなどのハンデ機能や考慮回数の設定など多彩な機能があります<br />
                  初級者から中級者が多くいるので初心者にはお勧めのサイトです</td>
                </tr>
              </tbody>
            </table>            
        </div>
    </div>
  </div>
  <!-- Single Card Field END -->
    
</div>
<!-- Main Contents Field END -->

</div>
<!-- Contents Field END -->