<div class="sending-card-container mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-color--lime-50">
        <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--brown-500">
            <h3>認証メール送信</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <p>
            登録したメールアドレスに確認用のメールを送信しました。</br >
            送信したメールのリンクを押下すれば認証処理が完了します。</br >
            </p>
        </div>
    </div>
</div>