<select id="age_serector" onChange="changeAge()">
<option value="10代前半">10代前半</option>
<option value="10代後半">10代後半</option>
<option value="20代前半">20代前半</option>
<option value="20代後半">20代後半</option>
<option value="30代前半">30代前半</option>
<option value="30代後半">30代後半</option>
<option value="40代前半">40代前半</option>
<option value="40代後半">40代後半</option>
<option value="50代前半">50代前半</option>
<option value="50代後半">50代後半</option>
<option value="60歳以上">60歳以上</option>
</select><br />

<script>setAge();</script>