<select id="contact_age_serector" onChange="changeContactAgeValue()">
<option value="10代">10代</option>
<option value="20代">20代</option>
<option value="30代">30代</option>
<option value="40代">40代</option>
<option value="50代">50代</option>
<option value="60歳">60歳</option>
</select><br />

<script>setContactAgeValue();</script>