<!-- New-Arraivals-Field Start -->
<div class="New-Arraivals-Field">
    <div class="navigation-area">
    </div>
    <div class="message-area">
    </div>
</div>
<!-- New-Arraivals-Field End -->

<!-- Notification-Field Start -->
<div class="Notification-Field">
    <div class="navigation-area">
    </div>
    <div class="message-area">
    </div>
</div>
<!-- Notification-Field End -->