<select id="kiryoku_serector" onChange="changeKiryoku()">
<option value="初心者">初心者</option>
<option value="11～15級">11～15級</option>
<option value="１０級">１０級</option>
<option value="９級">９級</option>
<option value="８級">８級</option>
<option value="７級">７級</option>
<option value="６級">６級</option>
<option value="５級">５級</option>
<option value="４級">４級</option>
<option value="３級">３級</option>
<option value="２級">２級</option>
<option value="１級">１級</option>
<option value="初段">初段</option>
<option value="２段">２段</option>
<option value="３段">３段</option>
<option value="４段">４段</option>
<option value="５段">５段</option>
<option value="６段以上">６段以上</option>
</select><br />

<script>set_kiryoku_value();</script>