.friend-container {
    float: left;
    width: 25%;
    height: 650px;
    margin-bottom: 100px;
    background-color: #795548;
    list-style: none;
}

.friend-container__label {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.friend-container .partner-list {
    overflow: auto;
    padding: 3% 0 0 2%;
    border-top: 1px solid #DCDCDC;
    overflow: hidden;
        &:last-child {
            border-bottom: 1px solid #DCDCDC;
        }
}

.friend-container .partnerArea a {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

// フレンド領域表示のため
.mdl-layout__container {
     height: 0% !important;
}