.inputContainer {
    float: right;
    width: 75%;
    height: 100px;
    margin-bottom: 100px;
}

.inputContainer__textForm {
    float: left;
    width: 40%;
    height: 100%;
}

.inputContainer__button {
    float: left;
    height: 100%;
    margin-top: 25px;
}