%userTimeCell {
    text-align: left;
    width: 8%;
}
    
%userMsgCell {
    text-align: left;
    width: 42%;
}
    
%friendMsgCell {
    text-align: right;
    width: 42%;
}

%friendTimeCell {
    text-align: right;
    width: 8%;
}

#messageContainer {
    width: 75%;
    height: 450px;
    background-color: #f9fbe7;
    background-image: 
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 90% 1.2em;
    overflow: scroll;
    
    .oldMsgLine__userTimeCell {
        @extend %userTimeCell;
    }
    
    .oldMsgLine__userMsgCell {
        @extend %userMsgCell;
    }
    
    .oldMsgLine__friendMsgCell {
        @extend %friendMsgCell;
    }
    
    .oldMsgLine__friendTimeCell {
        @extend %friendTimeCell;
    }

    .newMsgLine__userTimeCell {
        @extend %userTimeCell;
    }
    
    .newMsgLine__userMsgCell {
        @extend %userMsgCell;
    }
    
    .newMsgLine__friendMsgCell {
        @extend %friendMsgCell;
    }
    
    .newMsgLine__friendTimeCell {
        @extend %friendTimeCell;
    }

    .nowMsgLine__userTimeCell {
        @extend %userTimeCell;
    }
    
    .nowMsgLine__userMsgCell {
        @extend %userMsgCell;
    }
    
    .nowMsgLine__friendMsgCell {
        @extend %friendMsgCell
    }
    
    .nowMsgLine__friendTimeCell {
        @extend %friendTimeCell;
    }

}

