/* Header Field Start */
.sho-header {
  overflow: visible;
  
  .sho-navigation-container {
    width: 1000px;
  }
  
  .sho-navigation {
    justify-content: flex-end;
    width: 100%;
  }
  
  .sho-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
  }
  
  .sho-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
  }
  
  .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;    
  }
  
}

/* Header Field End */

/* Main Field Section Start */

.Contents-Field { /* pearent */
  width: 100%;
  height: 800px;
  
   .Main-Contents-Field { /* child */
      padding-top: 40px;
      padding-left: 40px;
      width: 1200px;
    }
    
   .Main-Contents-Field { /* child */
      padding-top: 40px;
      padding-left: 74.5px;
      width: 1200px;
    }
    
   .Show-Contents-Field { /* child */
      padding-top: 80px;
      padding-left: 225px;
      width: 900px;
    }
  
}

/* Main Field Section End */

  .Contents-Head-Field { /* Contents-Head-Field Start */
    width: 900px;
    height: 50px;
    background-color: #fffde7;
      .head-title-field {
        float: left;
        width: 450px;
        height: 50px;
          h3 {
              width: 450px;
              height: 50px;
              display: table-cell;
              vertical-align: middle;
          }
      }
      
      .head-action-field {
        float: right;
        width: 450px;
        height: 50px;
        position: relative;
        
          .action-buttons {
            width: 200px;
            height: 30px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            
          }
        
    }
    
  } /* Contents-Head-Field End */
    
  
  .Contents-Left-Field { /* Contents-Left-Field Start */
    float: left;
    width: 300px;
    height: 500px;
    background-color: #D6FFAE;
      .Left-Field-Contents {
        padding-top: 20px;
        width: 250px;
        height: 400px;
        margin: 0 auto;
        
        .follow_buttons {
          width: 180px;
          margin: 0 auto;
        }
        
        li {
          margin-bottom: 10px;
        }
        
        #following_button {
          padding-left: 15px;
          padding-right: 15px;
        }
        
      }
      
  } /* Contents-Left-Field End */
  
  .Contents-Right-Field { /* Contents-Right-Field Start */
    float: right;
    width: 600px;
    height: 500px;
    background-color: #FFCCC5;
    
    .Right-Field-Contents {
      
      width: 400px;
      height: 500px;
      margin: 0 auto;
      
      table {
        height: 150px;
        width: 400px;
      }
      
    }

    
  } /* Contents-Right-Field End */
  




/* Guest Section Start*/

.guest-card-field {
  width: 1200px;
    
    .mdl-card {
      float: left;
      margin-left: 40px;  
  }
}


/* Guest Section End*/

/* Member Section Start */

.member-more-section .member-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.member-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.member-card-container .mdl-card__media img {
  width: 100%;
}

.member-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.member-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.member-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 48px;
}

.member-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.member-card-container .mdl-card__actions a {
  border-top: none;
  line-height: 32px;
  font-size: 16px;
}

.member-card-container .mdl-card__actions span {
  color: #8bc34a;
}

.member-link .material-icons {
  position: relative;
  top: 6px;
}

/* Member Section End */

/* Users Section Start */

.users-title-area {
  height: 100px;
  width: 1200px;
  .users-title-contents {
      margin-left: auto; 
      margin-right: auto;
  }
}

.users-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.users-card-container .mdl-card__media img {
  width: 100%;
}

.users-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.users-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.users-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 48px;
}

.users-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.users-card-container .mdl-card__actions a {
  border-top: none;
  line-height: 32px;
  font-size: 16px;
}

.users-card-container .mdl-card__actions span {
  color: #8bc34a;
}

.users-link .material-icons {
  position: relative;
  top: 6px;
}

/* Users Section End */


/* links Contents Start */

.links-title-area {
  height: 100px;
  width: 1200px;
  .users-title-contents {
      margin-left: auto; 
      margin-right: auto;
  }
}

.links-more-section .links-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.links-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.links-card-container .mdl-card__media img {
  width: 100%;
}

.links-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.links-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.links-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 48px;
}

.links-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.links-card-container .mdl-card__actions a {
  border-top: none;
  line-height: 32px;
  font-size: 16px;
}

.links-card-container .mdl-card__actions span {
  color: #8bc34a;
}

.links-link .material-icons {
  position: relative;
  top: 6px;
}

/* links Contents End */


/* Footer Contents Start */

  .footer {
  position: absolute;
  bottom: 0;
}

/* Footer Contents End */

/* Debug Css */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}