/* Common CSS */
.hover {
    background:#4db6ac !important;    
}

/* Header Field Start */
.sho-header {
  overflow: visible;
  
  .sho-navigation-container {
    width: 70%;
  }
  
  .sho-navigation {
    justify-content: flex-end;
    width: 100%;
  }
  
  .sho-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
  }
  
  .sho-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
  }
  
  .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;    
  }
  
}

/* Footer Contents Start */

  .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-section {
    padding-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 400px;

    .main-section .main-section-head {
        width: 100%;
        height: 100px;
    }
    
    .main-section-head .main-section-head__title {
        float: left;
        width: 50%;
    }
    
    .main-section-head .main-section-head__button {
        float: right;
        width: 50%;
    }
}
    
.member-card-container {
    width: 100%;
    .mdl-card {
        float: left;
    }
    
	.mdl-card__media {
	  overflow: hidden;
	  background: transparent;
	}

	.mdl-card__media img {
	  width: 100%;
	}

	.mdl-card__title {
	  background: transparent;
	  height: auto;
	}

	.mdl-card__title-text {
	  color: black;
	  height: auto;
	}

	.mdl-card__supporting-text {
	  height: auto;
	  color: black;
	  padding-bottom: 20%;
	}

	.mdl-card__actions {
	  position: absolute;
	  bottom: 0;
	}

	.mdl-card__actions a {
	  border-top: none;
	  line-height: 32px;
	  font-size: 16px;
	}

	.mdl-card__actions span {
	  color: #8bc34a;
	}

	.card-link .material-icons {
	  position: relative;
	  top: 6px;
	} 
	
}

.guest-card-container {
    width: 100%;
  
    .mdl-card {
        float: left;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navi-button {
        list-style: none;
        
        .mdl-button {
          width: 75%;
        }
        
    }
    
}

.signin-card-container {
    width: 100%;
    
    .mdl-card {
        float: left;
        margin-left: auto;
        margin-right: auto;
    }
    
    .login-card {
        .mdl-card__media h3{
            text-align: center;
        }
        .mdl-card__fields .mdl-textfield {
          width: 80%;
        }
        .mdl-card__actions .mdl-button {
          float: right;
          width: 40%;
        }
        
    }
    
    .regist-card {
        .mdl-card__media h3 {
            text-align: center;
        }
        .mdl-card__supporting-text p {
            text-align: center;
            color: red;
            font-size: 20px;
            text-decoration: underline; 
        }
        .mdl-card__actions { 
            width: 60%;
            margin: 0 auto;
        }
        .mdl-card__actions .mdl-button {
            width: 80%;
        }
        
    }
    
    
      
}

.signup-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    } 
    .mdl-card .mdl-card__media {
        text-align: center;
    }
    .mdl-card__actions .mdl-button {
        float: right;
        width: 40%;
    }    
    
}

.about-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }
}

.contact-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }
    .mdl-card__actions .mdl-button {
        float: right;
        width: 40%;
    }     
}

.link-card-container {
    width: 100%;
    .mdl-card {
        float: left;
    }
    
	.mdl-card__media {
	  overflow: hidden;
	  background: transparent;
	}

	.mdl-card__media img {
	  width: 100%;
	}

	.mdl-card__title {
	  background: transparent;
	  height: auto;
	}

	.mdl-card__title-text {
	  color: black;
	  height: auto;
	}

	.mdl-card__supporting-text {
	  height: auto;
	  color: black;
	  padding-bottom: 20%;
	}

	.mdl-card__actions {
	  position: absolute;
	  bottom: 0;
	}

	.mdl-card__actions a {
	  border-top: none;
	  line-height: 32px;
	  font-size: 16px;
	}

	.mdl-card__actions span {
	  color: #8bc34a;
	}

	.card-link .material-icons {
	  position: relative;
	  top: 6px;
	}
}

.search-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }
    .mdl-card__actions .mdl-button {
        float: right;
        width: 40%;
    }     
}

.index-card-container {
    width: 100%;
    .mdl-card {
        float: left;
    }
    
	.mdl-card__media {
	  overflow: hidden;
	  background: transparent;
	}

	.mdl-card__media img {
	  width: 100%;
	}

	.mdl-card__title {
	  background: transparent;
	  height: auto;
	}

	.mdl-card__title-text {
	  color: black;
	  height: auto;
	}

	.mdl-card__supporting-text {
	  height: auto;
	  color: black;
	  padding-bottom: 20%;
	}

	.mdl-card__actions {
	  position: absolute;
	  bottom: 0;
	}

	.mdl-card__actions a {
	  border-top: none;
	  line-height: 32px;
	  font-size: 16px;
	}

	.mdl-card__actions span {
	  color: #8bc34a;
	}

	.card-link .material-icons {
	  position: relative;
	  top: 6px;
	}
}

.relation-card-container {
    width: 100%;
    .mdl-card {
        float: left;
    }
    
	.mdl-card__media {
	  overflow: hidden;
	  background: transparent;
	}

	.mdl-card__media img {
	  width: 100%;
	}

	.mdl-card__title {
	  background: transparent;
	  height: auto;
	}

	.mdl-card__title-text {
	  color: black;
	  height: auto;
	}

	.mdl-card__supporting-text {
	  height: auto;
	  color: black;
	  padding-bottom: 20%;
	}

	.mdl-card__actions {
	  position: absolute;
	  bottom: 0;
	}

	.mdl-card__actions a {
	  border-top: none;
	  line-height: 32px;
	  font-size: 16px;
	}

	.mdl-card__actions span {
	  color: #8bc34a;
	}

	.card-link .material-icons {
	  position: relative;
	  top: 6px;
	}
}

.edit-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }
    .mdl-card__actions .mdl-button {
        float: right;
        width: 40%;
    }
}

.sending-card-container {
    width: 100%;
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }    
}

.sending_contact-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }
    .mdl-card__actions .mdl-button {
        float: right;
        width: 40%;
    }
}

.confirm-card-container {
    width: 100%;
    
    .mdl-card {
        margin-left: auto;
        margin-right: auto;
    }
    .mdl-card .mdl-card__media {
        text-align: center;
    }
    .mdl-card__actions .mdl-button {
        float: right;
        width: 40%;
    }
}

.profile-container {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
    
.profile-container .head {
    width: 100%;
    height: 10%;
    background-color: #795548;
}
    
.profile-container .head__name {
    width: 40%;
    height: 10%;
    float: left;
    color: #ffffff;
    vertical-align: middle;
}
    
.profile-container .head__button {
    width: 60%;
    height: 10%;
    float: right;

    .mdl-button {
        float: left;
        margin-top: 3%;
        margin-right: 5%;
        width: 40%;
    }
    #current-user-button {
        float: right;
    }
}

.profile-container .media-division {
    float: left;
    width: 33.3%;
    height: 500px;
    background-color: #fffde7;
    position: relative;
}

.profile-container .media-division__image {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 75%;
        height: 80%;
        clear: both;
    }
}

.profile-container .mdl-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .mdl-button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
}

.profile-container .table-division {
    float: right;
    width: 66.6%;
    height: 500px;
    background-color: #fffde7;
    table {
        width: 80%;
        height: 30%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
    }
}

.friend-container {
    float: left;
    width: 25%;
    height: 650px;
    background-color: #f9fbe7;
    list-style: none;
}

.friend-container .partner-list {
    overflow: auto;
    padding: 3% 0 0 2%;
    border-top: 1px solid #DCDCDC;
    overflow: hidden;
        &:last-child {
            border-bottom: 1px solid #DCDCDC;
        }
}

.newArrivalsContainer {
    float: right;
    width: 75%;
    height: 200px;
    background-image: url("background/liteBrown.gif");
}

.newArrivalsContainer-navi {
    width: 100%;
    height: 25%;
    i {
        text-decoration: underline;
    }
}

.newArrivalsContainer-message {
    width: 100%;
    height: 75%;
    .newMsgLine td {
        font-size: 1.0em;
        height: 2.2em;
    }
    .newMsgLine--nameInfo {
        width: 20%;
    }
    .newMsgLine--messageInfo {
        width: 50%;
        visibility: hidden;
    }
    .newMsgLine--timestampInfo {
        width: 20%;
    }
    .newMsgLine--detailInfo {
        width: 1%;
    }
}

.infoContainer {
    float: right;
    margin-top: 50px;
    width: 75%;
    height: 400px;
    background-image: url("background/liteBrown.gif");
}

.infoContainer-navi {
    width: 100%;
    height: 25%;
    i {
        text-decoration: underline;
    }
}

.infoContainer-message {
    width: 100%;
    height: 35%;
}

.infoContainer-message .infoMsgTable {
    width: 90%;
    td {
        font-size: 1.0em;
        height: 2.2em;
    }
    .newMsgLine {
        width: 100%;
        height: 100%;
        .newMsgLine--subjectInfo {
            width: 20%;
        }
        .newMsgLine--messageInfo {
            width: 50%;
        }
        .newMsgLine--timestampInfo {
            width: 20%;
        }
        .newMsgLine--detailInfo {
            width: 1%;
        }
    }
}

.infoContainer-display {
    width: 100%;
    height: 40%;
}

.infoContainer-display .display__title {
    width: 100%;
    height: 20%;
    background-color: #4db6ac;
}

.infoContainer-display #display__title--subjectItem {
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    color: white;
}

.infoContainer-display .display__message {
    width: 100%;
    height: 60%;
    background-color: #FFFFFF;
}

.speakerContainer {
    width: 75%;
    height: 100px;
    float: right;
}

.speakerContainer .messageContainer-userMedia {
    width: 48%;
    height: 100%;
    background-color: #f9fbe7;
    float: left;
}

.speakerContainer .messageContainer-userMedia__name {
    float: left;
    width: 60%;
    margin-top: 5%;
    margin-left: 5%;
    .mdl-button {
        font-size: 1.2em;
        width: 80%;
    }

}

.speakerContainer .messageContainer-userMedia__image {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}

.speakerContainer .messageContainer-friendMedia {
    width: 48%;
    height: 100%;
    background-color: #f9fbe7;
    float: right;
}

.speakerContainer .messageContainer-friendMedia__name {
    float: right;
    width: 60%;
    margin-top: 5%;
    margin-right: 5%;
    .mdl-button {
        font-size: 1.2em;
        width: 80%;
        float: right;
    }
}

.speakerContainer .messageContainer-friendMedia__image {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

#messageContainer {
    width: 75%;
    height: 450px;
    background-color: #f9fbe7;
    background-image: 
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 90% 1.2em;
    overflow: scroll;
    
    &.oldMsgLine__userTimeCell {
        text-align: left;
        width: 8%;
    }
    
    &.oldMsgLine__userMsgCell {
        text-align: left;
        width: 47%;
    }
    
    &.oldMsgLine__friendMsgCell {
        text-align: right;
        width: 47%;
    }
    
    &.oldMsgLine__friendTimeCell {
        text-align: right;
        width: 8%;
    }
}

%msg-baroon {
	white-space: pre;
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 115px;
	height: auto;
	color: #F6F6F6;
	line-height: 30px;
	text-align: left;
	border-radius: 50px;
	z-index: 0;
	background: #19283C;
}

.msg-baroon-left {
    @extend %msg-baroon;
}

.msg-baroon-right {
    @extend %msg-baroon;
}

.msg-baroon-new {
    @extend %msg-baroon;
    background: #E896C9;
}

%msg-baroon-before {
	content: "";
	position: absolute;
	margin-right: 0;
	display: block;
	width: 15px;
	height: 15px;
	background: #19283C;
	border-radius: 50%;
	z-index: -1;    
}

.msg-baroon-left:before {
    @extend %msg-baroon-before;
    top: -17px; left: 15px;
}

.msg-baroon-right:before {
    @extend %msg-baroon-before;
    top: -17px; right: 15px;
}

.msg-baroon-new:before {
    @extend %msg-baroon-before;
    top: -17px; right: 15px;
    background: #E896C9;
}

%msg-baroon-after {
	content: "";
	position: absolute;
	top: -25px; left: 25px;
	margin-right: 0;
	display: block;
	width: 8px;
	height: 8px;
	background: #19283C;
	border-radius: 50%;
	z-index: -1;
}

.msg-baroon-left:after {
    @extend %msg-baroon-after;
    top: -25px; left: 25px;
}

.msg-baroon-right:after {
    @extend %msg-baroon-after;
    top: -25px; right: 25px;
}

.msg-baroon-new:after {
    @extend %msg-baroon-after;
    top: -25px; right: 25px;
    background: #E896C9;
}

.newMsgTable__newArrvlPoint {
    width: 100%;
    background: #E896C9;
    p {
        text-align: center;
        font-size: 25px;
    }
}

.inputContainer {
    float: right;
    width: 75%;
    height: 100px;
}

.inputContainer__textForm {
    float: left;
    width: 40%;
    height: 100%;
}

.inputContainer__button {
    float: left;
    height: 100%;
    margin-top: 25px;
}
