<div class="messageContainer-friendMedia">
    <div class="messageContainer-friendMedia__image">
        <% if @partner_inf.image_file_name.nil? %>
            <%= image_tag "link/noImage.png", :size => "75x75" %>
        <% else %>
            <%= image_tag @partner_inf.image, :size => "75x75" %>
        <% end %>
    </div>
    <div class="messageContainer-friendMedia__name">
        <input type="button" value= "<%=@partner_inf.name %>" 
        class ="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--brown-500">
        <input type="hidden" id="talking_friend_id" value=<%=@partner_inf.id %> >            
    </div>
</div>