<table id="nowMsgTable">
    <tbody>
        <tr class="nowMsgLine">
            <th class="nowMsgLine__userTimeCell"></th>
            <th class="nowMsgLine__userMsgCell"></th>
            <th class="nowMsgLine__friendMsgCell"></th>
            <th class="nowMsgLine__friendTimeCell"></th>
        </tr>
    </tbody>
</table>