<table id="oldMsgTable">
    <tbody>
        <% if @oldMsgs.present? %>
            <% @oldMsgs.each do |message| %>
                <% if (message.speaker_id) == current_user.id %>
                <tr class="oldMsgLine">
                    <td class="oldMsgLine__userTimeCell"><%=message.created_at %></td>
                    <td class="oldMsgLine__userMsgCell"><div class="msg-baroon-left"><%=message.message %></div></td>
                    <td class="oldMsgLine__friendMsgCell"></td>
                    <td class="oldMsgLine__friendTimeCell"></td>
                </tr>     
                <% else %>
                <tr>
                    <td class="oldMsgLine__userTimeCell"></td>
                    <td class="oldMsgLine__userMsgCell"></td>
                    <td class="oldMsgLine__friendMsgCell"><div class="msg-baroon-right"><%=message.message %></div></td>
                    <td class="oldMsgLine__friendTimeCell"><%=message.created_at %></td>
                </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>