<div class="messageContainer-userMedia">
    <div class="messageContainer-userMedia__name">
        <input type="button" value= <%=current_user.name %> 
        class ="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--brown-500">
    </div>
    <div class="messageContainer-userMedia__image">
        <% if current_user.image_file_name.nil? %>
            <%= image_tag "link/noImage.png", :size => "75x75" %>
        <% else %>
            <%= image_tag current_user.image, :size => "75x75" %>
        <% end %>
    </div>
</div>